<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="suite">
<parameter name ="browserName" value="chrome"></parameter>

	<test name="test1">
		<classes>
			<class name="selnium.demo.project.NewTest">
				<methods>
					<include name="f" />
					<include name="a" />




				</methods>

			</class>


		</classes>


	</test>

</suite>